<div class="rounded position-relative" style="width: 350px;">
  <div class="d-flex justify-content-between align-items-center position-absolute w-100 px-2" style="height: 140px; border-radius: 1px; background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= cl_image_path event.photo.key, quality: :auto, fetch_format: :auto %>); background-size: cover">
    <p><%= event.title %></p>
    <p><%= event.date_start %></p>
    <p><%= event.date_end %></p>
    <p><%= event.description %></p>
  </div>
</div>
